doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="https://app.secureprivacy.ai/script/63ea70379101e91e0d510e17.js")
  body
    block content
